html 
    head 
        title Express Checkpoint 
        style 
            include ./index.css
    
    body 
        include ./navbar.pug
        div#contact
            h1 Contact Us 
            p lets pretend there is a dummy form to contact us with you providing name email etc.

        include ./footer.pug