html 
    head 
        title Express Checkpoint 
        style 
            include ./index.css
    
    body 
        include ./navbar.pug
        div#vacation
            h1 Sorry we are closed Today our Working days from Monday to Friday 24 hours, days off Saturday and Sunday 

        include ./footer.pug