html 
    head 
        title Express Checkpoint 
        style 
            include ./index.css
    
    body 
        include ./navbar.pug
        div#main
            h1 Home Page 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore nihil maiores et sequi fugiat harum, quam quia perferendis modi dolorum quo, iusto quod non eaque voluptate pariatur nostrum! Officiis, recusandae!Eos dolor sequi quas soluta repellat cupiditate, molestias, illum ea, omnis deleniti minima neque doloribus accusantium repudiandae architecto vitae eveniet nobis provident. Obcaecati rem sapiente aperiam voluptates ex, quas voluptatem!Ex quaerat ullam, libero excepturi alias reiciendis fuga voluptatem magni deleniti illum, nostrum velit officiis molestias harum quibusdam quia, animi laborum eaque soluta autem fugit! Itaque necessitatibus a veniam nihil!Doloribus reprehenderit minima repudiandae beatae nesciunt veniam vitae neque ut sunt, deleniti, aspernatur, unde sed impedit consequuntur repellendus praesentium! Deleniti iusto aspernatur maxime accusantium nisi porro assumenda molestiae, quisquam asperiores.Itaque, saepe sapiente officiis consectetur tempore ipsam sunt iste earum? Minus, optio, magni voluptates aut corporis delectus pariatur nihil tempore assumenda ducimus inventore vero deserunt, officia soluta odit qui veritatis!Corrupti autem doloremque blanditiis cupiditate maxime, eaque sequi reprehenderit itaque placeat amet quisquam assumenda iusto similique. Iusto, totam, placeat aliquam veniam, veritatis iste illo inventore ipsum eligendi excepturi unde dolores?Officiis error quo expedita dolores, excepturi consequatur modi consectetur iusto aspernatur ullam perferendis debitis sunt eum itaque nostrum deserunt rerum dolorum necessitatibus dicta. Consectetur rerum tempora alias autem, unde expedita!Pariatur atque voluptatem laboriosam vitae. Voluptatibus laboriosam itaque eius ex recusandae eveniet aut labore excepturi quas assumenda veritatis quis eligendi, saepe numquam. Consectetur sint eveniet iure in similique repudiandae magnam.Voluptate vel adipisci itaque deserunt officia? Quis officiis perspiciatis eius porro accusantium, fugit iste nostrum illo sequi. Hic quae veniam nemo aliquam deleniti, voluptatem magni magnam vitae non error accusantium.Beatae soluta quas explicabo quam obcaecati, quasi cumque laborum provident dolorem nobis, doloribus dolores dolor facere nam veritatis vero? A fugiat nostrum reiciendis sequi, rem quisquam dolore eaque libero hic.

        include ./footer.pug