html 
    head 
        title Express Checkpoint 
        style 
            include ./index.css
    
    body 
        include ./navbar.pug
        div#services
            h1 Our Services Page 
            p lets pretend there are some dummy services here that we are providing them
            p dummy testmonials 
            p dummy reviews 

        include ./footer.pug